body {
  background: url("/img/background.png");
  background_night: url("/img/background_black.png");
}
.night {
  background: url("/img/background_black.png");
}
.night .navbar,
.night footer.footer,
.night .card {
  background-color: rgba(21,19,19,0.678);
}
